<div class="list-group-item">
  <div class="d-flex w-100 justify-content-between">
    <h5><%= message.user.username %></h5>
    <small><%=message.created_at %></small>
  </div>
  <div><p><%= message.content_translated %></p></div>
</div>